@import "../../SASS/mixins.scss";
@import "../../SASS/variables.scss";

.imageLayer {
  margin: 10px auto;
  background-color: $background-color;
  @include flex(column, center, center);
  span {
    color: white;
  }
}
